*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: Helvetica, sans-serif, Arial;
    font-size: 18px;
    background-color: #f7f7f7;
}

.main
{
    background-color: #fff;
    padding: 20px;
}

.main .data
{
    background-color: rgba(77, 120, 218, 0.9);
    color: #fff;
    border-radius: 5px;
    width: 50%;
    margin: 40px;
    padding: 25px;
}

.main .data .input
{
    border-bottom: 2px solid #fff;
}

.main .data .input label 
{
    font-weight: 300;
}

.main .data .input input[type="number"]
{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    padding: 10px 4px;
}

.main .data .input input[type="button"]
{
    display: block;
    width: 70%;
    margin: 5px auto;
    background-color: #78DA4D;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    font-size: 25px;
}

.main .data .input input[type="button"]:hover
{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.main .data .output h3
{
    margin: 25px;
    font-size: 30px;
    text-align: center;
}

.main .data .output ul
{
    list-style: none;
}

.main .data .output ul li
{
    margin-bottom: 10px;
}
